/*CLEARFLOATS OF CHILDREN*/
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

/*CLEARFLOATS OF CHILDREN*/

body {
	background-color: orange;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	font-family: 'Acme', sans-serif;

}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
}

legend, label {
	font-size: 25px;
}

h1, h2,p,legend {
	text-align: center;
}

input:not([type='button'])

label {
	text-align: right;
	display: inline-block;
	width: 300px;
}